@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;

  /* Brand Colors */
  --color-primary: #BC3D37;
  --color-secondary: #89A890;
  --color-accent: #8FBCA3;
  --color-warning: #E6D78C;

  /* Font Vars */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* Tailwind Theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-warning: var(--color-warning);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  /* Montserrat */
}