@import "tailwindcss";

/* ---------- Tema Değişkenleri ---------- */
:root {
  --background: #ffffff;
  --foreground: #111111;

  /* Brand Colors */
  --color-primary: #BC3D37;
  --color-secondary: #89A890;
  --color-accent: #8FBCA3;
  --color-warning: #E6D78C;

  /* Font Vars */
  --font-heading: "Tenor Sans", sans-serif;
  --font-body: "Montserrat Light", sans-serif;
}

/* ----- Dark Mode ----- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-primary: #D94B43;
    /* Biraz daha açık kırmızı */
    --color-secondary: #9FBFA6;
    --color-accent: #A3D6BD;
    --color-warning: #F2E7A3;
  }
}

/* ---------- Tailwind Theme Values ---------- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-warning: var(--color-warning);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* ---------- Global Style ---------- */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}